* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', Arial, sans-serif;
    line-height: 1.6;
    background-color: #faf0e1;
    color: #333;
    font-size: 1rem; /* Base font size */
}

header, footer {
    background-color: #c9985c;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    width: 100%;
    box-sizing: border-box;
}

header h1 {
    margin: 0;
    font-size: 2rem;
}

footer p {
    margin: 0;
    font-size: 1rem;
}

footer a {
    color: #fff;
    text-decoration: none;
}

header .links {
    margin-top: 0.5rem;
}

header .links a {
    color: #fff;
    text-decoration: none;
    margin: 0 0.6rem;
    font-size: 1.2rem;
}

header .links a:hover {
    text-decoration: underline;
}

.container {
    width: 90%;
    max-width: 65rem;
    margin: 2rem auto;
    padding: 2rem;
    border-radius: 0.5rem;
}

.profile {
    display: flex;
    align-items: center;
    text-align: left;
    flex-wrap: wrap;
}

.profile-pic {
    width: 15rem;
    height: 15rem;
    border-radius: 30%;
    object-fit: cover;
    margin-right: 2rem;
}

.intro {
    flex: 1;
}

h1 {
    margin-bottom: 0.5rem;
    font-size: 2.5rem;
}

h2 {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    color: #333;
    border-bottom: 1px solid rgba(70, 37, 5, 0.5);
}

ul {
    list-style-type: none;
    padding-left: 0;
}

li {
    margin-bottom: 1.25rem;
    font-size: 1.125rem;
}

a {
    color: #cc5c00;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p {
    margin-bottom: 1.25rem;
    font-size: 1rem;
}

.container ul li p {
    margin: 0.625rem 0;
}

.container ul li p a {
    display: inline-block;
    margin-right: 0.625rem;
}

.container ul li p strong {
    display: block;
    margin-bottom: 0.625rem;
}

.paper_links {
    margin-left: 0.5rem;
}

.paper_links a {
    font-size: 0.9rem;
    margin-right: 0.5rem;
}

.paper_links i {
    margin-right: 0.3rem;
}

.summary {
    margin-top: 0.5rem;
    padding-left: 1.5rem;
    position: relative;
}

.summary::before {
    content: '▶';
    position: absolute;
    left: -0rem;
    color: #cc5c00;
}

.award {
    margin-top: 0.5rem;
    padding-left: 1.5rem;
    position: relative;
}

.award::before {
    content: '▶';
    position: absolute;
    left: -0rem;
    color: #a1005b;
}


.hover-name {
  position: relative;
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2); /* Light, subtle line */
  transition: border-color 0.3s;
}

.hover-name:hover {
  border-bottom-color: rgba(0, 0, 0, 0.5); /* Slightly darker on hover */
}

.tooltip {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  bottom: 1.5em; /* Roughly equivalent to 24px if base font size is 16px */
  left: 0;
  background-color: #fff;
  color: #000;
  padding: 0.3em 0.5em; /* Flexible padding */
  border-radius: 0.3em; /* Rounded corners that scale with text size */
  font-size: 0.9em;
  width: max-content;
  box-shadow: 0em 0.25em 0.5em rgba(0, 0, 0, 0.2);
  transition: opacity 0.3s;
}

.hover-name:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

.highlight {
    font-weight: bold;
    color: #a1005b;
    font-size: 1em;
}

.paper-image {
    width: auto;
    height: 15rem;
    margin-left: 1.5rem;
}